---
import type { CollectionEntry } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import PostCardList from "../../../components/PostCardList.astro";
import Pagination from "../../../components/Pagination.astro";
import { getCollection } from "astro:content";
import { CATEGORIES, PAGE_SIZE } from "../../../config";
import { getPostHref } from "../../../utils/posts";

export async function getStaticPaths({ paginate }: { paginate: any }) {
	const posts = (await getCollection("blog"))
		.filter((post) => !post.data.draft)
		.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

	return Object.keys(CATEGORIES).flatMap((category) => {
		const filtered = posts.filter((post) => post.data.category === category);
		return paginate(filtered, {
			pageSize: PAGE_SIZE,
			params: { category },
		}).filter((entry: any) => {
			const page = entry.params.page;
			return page !== 1 && page !== "1";
		});
	});
}

type PaginatedPage = {
	data: Array<CollectionEntry<"blog">>;
	currentPage: number;
	lastPage: number;
};

const { page } = Astro.props as { page: PaginatedPage };
const { category } = Astro.params;
const categoryName = CATEGORIES[category as keyof typeof CATEGORIES];

const items = page.data.map((post: any) => ({
	title: post.data.title,
	href: getPostHref(post),
	date: post.data.pubDate,
	description: post.data.description,
	image: post.data.image,
	imageAlt: post.data.imageAlt,
}));
---

<Layout title={categoryName} description={`${categoryName}相關文章`}>
	<section class="p-10">
		<div class="space-y-20">
			<PostCardList items={items} />
			<Pagination
				currentPage={page.currentPage}
				totalPages={page.lastPage}
				basePath={`/${category}`}
				pagePath={`/${category}/page`}
			/>
		</div>
	</section>
</Layout>
