---
import { Image } from "astro:assets";

interface Props {
	title: string;
	href: string;
	date: Date | string;
	description?: string;
	image?: string;
	imageAlt?: string;
}

const { title, href, date, description, image, imageAlt } = Astro.props;
const displayDate = new Date(date);
---

<article class="post-card">
	<a
		href={href}
		class="hover:bg-zinc-100 dark:hover:bg-zinc-900 duration-300 sm:p-6 rounded-xl block"
	>
		{
			image && (
				<div class="py-2">
					<Image
						class="object-cover rounded-xl aspect-video w-full"
						src={image}
						alt={imageAlt || title}
						width={640}
						height={360}
					/>
				</div>
			)
		}
		<div>
			<time class="text-xs opacity-60" datetime={displayDate.toISOString()}>
				{displayDate.toLocaleDateString("zh-TW")}
			</time>
			<h3>{title}</h3>
			{description && <p class="opacity-60 text-sm py-1">{description}</p>}
		</div>
	</a>
</article>
