---
import PostCard from "./PostCard.astro";

interface Item {
	title: string;
	href: string;
	date: Date | string;
	description?: string;
	image?: string;
	imageAlt?: string;
}

interface Props {
	items: Item[];
}

const { items } = Astro.props;
---

<section
	class="grid gap-2 lg:gap-12 grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 min-h-svh"
>
	{
		items.map((item) => (
			<PostCard
				title={item.title}
				href={item.href}
				date={item.date}
				description={item.description}
				image={item.image}
				imageAlt={item.imageAlt}
			/>
		))
	}
</section>
